<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Event</title>
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/font-awesome.css" rel="stylesheet"/>
    <%- include("./../adminNavbar.ejs") %>
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        .container{
            margin-top: 50px;
        }
        h1{
            color: lightseagreen;
            margin-bottom: 50px;
        }
        select{
            margin-top: 10px;
            margin-bottom: 20px;
        }
        .btn-primary{
            margin-top: 20px;
        }
    </style>
</head>
<body>
      <div class="container">
        <h1 align="Center">Add Event</h1>
        <form class="col-6 offset-3" method="POST" action="/event/add">
            <div class="form-group">
                <label>Event Name</label>
                <input type="text" class="form-control" name="title" />
            </div>
            <div class="form-group">
                <label>Event Date</label>
                <input type="date" class="form-control" name="date" />
            </div>
            Main Speaker
            <select class="form-control" id="mainSpeaker" onchange="deleteOtherSpeaker(this)" name="mainSpeaker">
            <% mySpeakers.forEach((speaker) =>{ %>
                    <% if(speaker){ %>
                        <option value="<%=speaker._id%>"><%= speaker.fullName %></option>
                    <% } %>
            <% }) %>
            </select>
            Other Speakers
            <select class="form-control" multiple name="otherSpeaker" id="otherSpeaker">
            <% if(mySpeakers.length == 0){ %>
                <option value="0">Sorry there isn't Other Speakers</option>
            <%}else{ %>
            <% mySpeakers.forEach((speaker) =>{ %>
                        <option value="<%=speaker._id%>"><%= speaker.fullName %> </option>
            <% })} %>
            </select>
            <input type="submit" value="Add New Event" class="btn btn-primary">
         </form>
      </div>
    <script src="/js/JQuery-3.3.1.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/eventList.js"></script>
</body>
</html>
