<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Speakers List</title>
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/font-awesome.css" rel="stylesheet"/>
    <%- include("./../adminNavbar.ejs") %>
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        li{
            list-style: none;
        }
        .container{
            margin-top: 50px;

        }
        table{
            margin-top: 20px;
        }
        h1{
            color: lightseagreen;
        }
        .crud{
            margin-left: 10px;
            width: 70px;
        }
    </style>
</head>
<body>
      <div class="container">
        <h1>Speakers List</h1>
        <table class="table text-center bg-dark text-light">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>
                        Edit / Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                <% speakers.forEach(function(speaker) { %>
                    <tr>
                        <td><%= speaker._id %></td>
                        <td><%= speaker.fullName %></td>
                        <td><%= speaker.address.city %> , <%= speaker.address.street %> , <%= speaker.address.building %></td>
                        <td>
                            <a class="btn btn-primary crud" href="/speaker/update/<%=speaker._id%>">Edit</a>
                            <a class="btn btn-danger crud" href="#" onclick="deleteSpeaker(<%=speaker._id%>,this)">Delete</a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
      </div>
    <script src="/js/JQuery-3.3.1.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/speakerList.js"></script>
</body>
</html>
