<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Upcoming Events</title>
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/font-awesome.css" rel="stylesheet"/>
    <%- include("./../speakerNavbar.ejs") %>
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        li{
            list-style: none;
        }
        .container{
            margin-top: 50px;

        }
        table{
            margin-top: 20px;
        }
        h1{
            color: lightseagreen;
        }
        .crud{
            margin-left: 10px;
            width: 70px;
        }
        .colorUser{
            color: tomato;
            font-size: 18px;
            font-weight: bold;
        }
    </style>
</head>
<body>
      <div class="container">
        <h1>Events List</h1>
        <table class="table text-center bg-dark text-light">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Event Date</th>
                    <th>Main Speaker</th>
                    <th>Other Speakers</th>
                </tr>
            </thead>
            <tbody>
                <% events.forEach((speaker) =>{ %>
                    
                    <% if(speaker.mainSpeaker){ %>
                    <% if(locals.speakerName == speaker.mainSpeaker.fullName){ %>
                        <tr class="colorUser">
                    <% }else{ %>
                        <tr>
                    <% } %> 
                    <%}else{ %>
                    <tr>
                    <% }%>
                        <td><%= speaker._id %></td>
                        <td><%= speaker.title %></td>
                        <% if(speaker.date){ %>
                            <td><%= speaker.date.toDateString() %></td>
                        <% }else{ %>
                            <td>No Date For this Event Yet</td>
                        <% } %>
                        <% if (speaker.mainSpeaker) { %>
                            <td><%=speaker.mainSpeaker.fullName%></td>
                        <% }else { %>
                            <td>MainSpeaker Doesn't exist</td>
                        <%} %>
                        <td>
                            <ul>
                                <% if(speaker.otherSpeaker.length == 0){ %>
                                    <li>OtherSpeaker Doesn't Exist</li>
                                <% }else {%>
                                    
                                <%speaker.otherSpeaker.forEach((otherSpeaker1)=>{ %>
                                    <% if (otherSpeaker1) { %>
                                        <li><%=otherSpeaker1.fullName%></li>
                                    <% }%>
                                <% })} %>
                            </ul>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
      </div>
    <script src="/js/JQuery-3.3.1.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/eventList.js"></script>
</body>
</html>
